In [1]:
# Imports
# Reference: https://www.youtube.com/watch?v=lTypMlVBFM4

from selenium import webdriver
import pandas as pd
from datetime import date
import time

In [2]:
url = "https://www.forbes.com/billionaires/"

In [3]:
# Open chrome browser
driver = webdriver.Chrome('C:\Program Files (x86)\chromedriver.exe')
driver.get(url)

# Maximize window:
driver.maximize_window()

In [4]:
# Scroll down gradually 

for i in range(39):
    driver.execute_script("window.scrollTo(window.scrollY, window.scrollY + 500)")
    time.sleep(0.2)

## Extract Data

### Rank

In [5]:
# Extract Rank and remove first element which is just RANK:
rank = [x.text for x in driver.find_elements_by_class_name('rank')][1:]

### Name

In [6]:
# Extract name and remove first element which is just NAME:
name = [x.text for x in driver.find_elements_by_class_name('personName')][1:]

### Total Net Worth

In [7]:
# Extract total net worth and remove first element that says NET Worth:
total_net_worth = [x.text for x in driver.find_elements_by_class_name('netWorth')][1:]

### Age

In [8]:
# Extract age and remove first element that says AGE
age = [x.text for x in driver.find_elements_by_class_name('age')][1:]

### Country

In [9]:
# Extract country and remove first element that says COUNTRY / TERRITORY:
country = [x.text for x in driver.find_elements_by_class_name('countryOfCitizenship')][1:]

### Source / Company

In [10]:
# Extract company/source and remove first element that says Source
source = [x.text for x in driver.find_elements_by_class_name('source')][1:]

### Industry

In [11]:
# Extract Industry and remove first element that says Industry
industry = [x.text for x in driver.find_elements_by_class_name('category')][1:]

## Create Dataframe

In [12]:
## Create Dataframe

forbes_billionaires_df = pd.DataFrame({
                                'Rank': rank, 
                                'Name': name, 
                                'Net Worth': total_net_worth,
                                'Age': age,
                                'Country': country,
                                'Source': source,
                                'Industry': industry,
})

In [13]:
# Preview top 10 billionaires
forbes_billionaires_df.head(10)

,Rank,Name,Net Worth,Age,Country,Source,Industry
0,1.,Jeff Bezos,$177 B,57,United States,Amazon,Technology
1,2.,Elon Musk,$151 B,49,United States,"Tesla, SpaceX",Automotive
2,3.,Bernard Arnault & family,$150 B,72,France,LVMH,Fashion & Retail
3,4.,Bill Gates,$124 B,65,United States,Microsoft,Technology
4,5.,Mark Zuckerberg,$97 B,36,United States,Facebook,Technology
5,6.,Warren Buffett,$96 B,90,United States,Berkshire Hathaway,Finance & Investments
6,7.,Larry Ellison,$93 B,76,United States,software,Technology
7,8.,Larry Page,$91.5 B,48,United States,Google,Technology
8,9.,Sergey Brin,$89 B,47,United States,Google,Technology
9,10.,Mukesh Ambani,$84.5 B,63,India,diversified,Diversified

In [14]:
# Preview ranked 191-200 billionaires
forbes_billionaires_df.tail(10)

,Rank,Name,Net Worth,Age,Country,Source,Industry
190,191.,Aliko Dangote,$11.5 B,63,Nigeria,"cement, sugar",Manufacturing
191,191.,Marcel Herrmann Telles,$11.5 B,71,Brazil,beer,Food & Beverage
192,193.,Mikhail Prokhorov,$11.4 B,55,Russia,investments,Finance & Investments
193,194.,Jorge Moll Filho & family,$11.3 B,76,Brazil,hospitals,Healthcare
194,195.,Viktor Rashnikov,$11.2 B,72,Russia,steel,Manufacturing
195,195.,Harry Triguboff,$11.2 B,88,Australia,real estate,Real Estate
196,197.,Leonid Fedun & family,$11.1 B,65,Russia,oil,Energy
197,197.,Eyal Ofer,$11.1 B,70,Israel,"real estate, shipping",Diversified
198,197.,Evan Spiegel,$11.1 B,30,United States,Snapchat,Technology
199,200.,Luis Carlos Sarmiento,$11 B,88,Colombia,banking,Finance & Investments

In [15]:
# Close driver

driver.close()

In [ ]:
# Save dataframe of top 200 Billionaires by Forbes.

forbes_billionaires_df.to_csv("Forbes_Top200Billionaires_2021.csv")